<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Inicio'}">Title</title>
</head>
<body>
<!--    <div th:replace="main">-->
        <div id="content">
            <div class="background-image"></div>
            <div class="blur-overlay"></div>
            <div class="intro-text">
                <p>Bem-vindo ao <strong>Alerta Seguro</strong>, a ferramenta essencial para sua segurança em emergências. Com um toque, peça ajuda, conecte-se com uma rede de apoio e mantenha-se seguro. Junte-se a nós e seja parte de uma rede de proteção e solidariedade.</p>
            </div>
        </div>
<!--    </div>-->
</body>
</html>